@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Asul&display=swap');

body {
    font-size: calc(0.05 * var(--h));
    margin: 0;
    user-select: none;
    font-family: 'Asul', sans-serif;
}

/*--------------------------------------*/
#general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100vw;
    height: calc(0.1 * var(--h));
    font-size: 1.8em;
    text-align: center;
    text-shadow: 0.02em 0.02em 0.06em grey;
}

main {
    width: calc(1.5 * var(--h));
    height: calc(0.83 * var(--h));
} 

/*--------------------------------------*/
#canvas {
    display: block;
    width: calc(1.5 * var(--h));
    height: calc(0.5 * var(--h));
}

#choix {
    width: calc(1.4 * var(--h));
    height: calc(0.18 * var(--h));
    margin: 0 auto;
    padding: 0 calc(0.02 * var(--h));
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: calc(0.01 * var(--h)) outset gray;
    border-radius: 0.4em;
    background-color: #bbb;
}
#choix .rb {
    cursor: pointer;
    border-radius: 1em;
    padding: 0 0.5em;
}
#choix .rb:hover {
    text-shadow: 0 0 0.1em white;
}
#choix #rb_g {
    color: #600
}
#choix #rb_g span {
    color: #c00;
}
#choix #rb_d {
    color: #060;
}
#choix #rb_d span {
    color: #0c0;
}

#imgPause {
    width: calc(0.14 * var(--h));
    height: calc(0.14 * var(--h));
}

#boutons {
    height: calc(0.13 * var(--h));
    display: flex;
    justify-content: center;
    align-items: center;
}
#boutons button {
    text-align: center;
    font-size: 0.8em;
    min-width: 2em;
    font-family: 'Asul', sans-serif;
    cursor: pointer;
}
#btnLectPause {
    width: 6em;
}

/*--------------------------------------*/
footer {
    width: 100vw;
    height: calc(0.07 * var(--h));
    font-size: 0.35em;
    font-family: arial;
    background: linear-gradient(#aaaaaa00, #aaaaaaff);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: #666;
    text-decoration: none;
}
footer a:hover {
    color : #369;
    text-decoration: none;
}
footer img {
    height: calc(0.04 * var(--h));
    vertical-align: middle
}