body {
	color: #000077;
	font-weight: bold;
	font-size: 10pt;
	font-family: "Comic Sans MS";
	background-color: #BDE3FF;
}
h2 { color: #f00; font-size: 16pt; font-family: "Comic Sans MS" }
h1 { color: #99FFFF; font-size: 24pt; font-family: "Freestyle Script", "Comic Sans MS" }

h3 { color: #ca00c4; font-size: larger }
h4 { color: #D95C56; font-size: larger }
dd { color: #7f06ce; font-style: italic; font-weight: bold; font-size: 10pt }
p { font-weight: bold; font-size: 9pt}
li { font-weight: bold; font-size: 9pt}
a:hover { color: #f00 }
a { color: #00f }
